[[source]]
url = "https://mirrors.cernet.edu.cn/pypi/web/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
fastapi = "*"
uvicorn = "*"
pymongo = "*"
pycryptodome = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.11"
