<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Elemental Cloud Services</title>
  <link href="{{ url_for('homepage.static', filename='tailwind.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('homepage.static', filename='bootstrap.min.css') }}" rel="stylesheet">
  <script src="{{ url_for('homepage.static', filename='bootstrap.min.js') }}"></script>
  <script src="{{ url_for('homepage.static', filename='popper.min.js') }}"></script>
  <style>
    .bg-gradient {
      background-image: linear-gradient(120deg, #004455, #006688);
    }
  </style>
</head>
<body class="bg-gradient">
  <header class="bg-gradient text-white py-5">
    <div class="container">
      <div class="text-center">
        <h1 class="text-5xl font-bold">Elemental Cloud Services</h1>
        <p class="text-lg">元素云竭诚为您提供优质服务</p>
      </div>
    </div>
  </header>
  <main class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="text-xl font-bold">我们的团队</h2>
          <p class="text-lg">ECS.im是一家专注于为用户提供各种云服务的公司，我们拥有一支经验丰富的团队，能够为用户提供一站式的解决方案。</p>
          <div class="flex gap-4">
            <div class="flex items-center mr-4">
              <img class="w-10 h-10" src="https://via.placeholder.com/100" alt="成员图片">
              <h3 class="text-sm font-bold">Zyx</h3>
              <p class="text-sm">角色： 联合创始人兼CEO</p>
            </div>
            <div class="flex items-center mr-4">
              <img class="w-10 h-10" src="https://via.placeholder.com/100" alt="成员图片">
              <h3 class="text-sm font-bold">WhatTheHell</h3>
              <p class="text-sm">角色： 联合创始人兼开发部部长</p>
            </div>
            <div class="flex items-center mr-4">
              <img class="w-10 h-10" src="https://via.placeholder.com/100" alt="成员图片">
              <h3 class="text-sm font-bold">Cartol</h3>
              <p class="text-sm">角色： 开发部副部长兼运维</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h2 class="text-xl font-bold">我们的产品</h2>
          <p class="text-lg">Elemcloud为您提供了一站式的解决方案，包括以下产品：</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">产品1：MCSMT</li>
            <li class="list-group-item">产品2：幻兽帕鲁服务器</li>
            <li class="list-group-item">产品3：项目开发委托</li>
          </ul>
        </div>
      </div>
    </div>
  </main>
  <footer class="bg-gradient text-white py-5">
    <div class="container">
      <div class="text-center">
        <p>
            <a href="/member/login">登录</a>
        </p>
        <p class="text-sm">版权所有 &copy; 2024 Elemcloud Team</p>
      </div>
    </div>
  </footer>
</body>
</html>
